.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 250px;
  background-color: orange;
  border-radius: 5px;

  &__buttons-wrap {
    display: flex;
    gap: 10px;
  }
}